* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body > img:nth-of-type(1) {
    display: none;
}

body {
    background-repeat: no-repeat;
    max-width: 1280px;
    min-height: 1583px;
    font-size: 2rem;
    color: blue;
    background-image: none;
    opacity: 1;
    font-family: "Lucida Console", "Courier New", monospace;
}

.buttonMenu {
    display: none;
}

.container > * {
    border: 2px dashed blue;
}

.container {
    display: grid;
    grid-template-rows: minmax(75px, auto) minmax(250px, auto) minmax(250px, auto) minmax(250px, auto) minmax(200px, auto) minmax(150px, auto);
    grid-template-areas: 
        "two two"
        "five one"
        "six three"
        "six four"
        "seven four"
        "seven .";
    grid-template-columns: minmax(auto, 240px) minmax(auto, 1038px);
}

.box1 {
    grid-area: one;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Flag_of_Kyrgyzstan.svg/640px-Flag_of_Kyrgyzstan.svg.png');
    /*background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/41/Kyrgyzstan_stub.svg');*/
    background-size: cover;

    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-color: grey;
    flex-grow: 1;
    color: white;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.box1 img {
    display: none;
}

h2 {
    display: none;
}

.box2 {
    grid-area: two;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #f3f3f3;
}

.box2 > img {
    max-width: 241px;
    flex-grow: 1;
    padding: 1.5rem;
}

.box2 .right_search {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    margin-right: 25px;
    gap: 10px
}

.right_search h3 {
    font-size: 30px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.box3 {
    grid-area: three;
    background-image: url(ads_photo.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #f3f3f3;
}

.box4 {
    grid-area: four;
}

.box4 .col1_logo {
    display: none;
}

.box4 .footer_menu {
    display: none;
}

.kg {
    display: none;
}

.social_media_list {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border-bottom: 25px solid whitesmoke;
    background-color: #55af4f
}

.social_media_list li {
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.extra_menu img {
    width: 100%;    
}

.extra_menu {
    margin: 0px, 25px;
}

.contact_headers {
    display: flex;
    gap: 45px;
    margin-top: -7px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    word-spacing: -1px;
    justify-content: center;
    height: 42px;
    align-items: end;
    background-color: #f3f3f3;
    padding-bottom: 3px;
    border-bottom: 2px solid white;
}

.contacts {
    color: #333;
    font-size: 14px;
    background-color: #f3f3f3;
    padding: 20px;
}

.data_collector {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.web_link {
    height: 15px;
}

.advert {
    margin-top: 20px;
}

.box5 {
    grid-area: five;

    font-family: "Roboto", Arial, sans-serif;
}

.box6 {
    grid-area: six;
}

.box6 ul {
    margin-top: 18px;
    list-style: none;
    display: flex;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
    flex-basis: 100%;
    width: 100%;
    flex-grow: 1;

    flex-direction: column;
    background-color: grey;

}

.box6 ul li {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 1.5rem;
    border-bottom: 2px solid whitesmoke;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.search_group {
    display: flex;
    justify-content: end;
    margin: 10px;
    gap: 10px;
    align-items: center;
}

.box7 {
    grid-area: seven;
}

.box7 img {
    width: 100%;
    height: 100%;
}

.box5 ul {
    list-style: none;
    display: flex;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
    flex-basis: 100%;
    width: 100%;
    flex-grow: 1;

    flex-direction: column;
    background-color: #48b341;
    text-transform: uppercase;
}

.box5 ul li {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 1.5rem;
    border-bottom: 2px solid whitesmoke;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (max-width: 500px) {
    .menu {
        display: none;
    }

    .container {
        grid-template-columns: 100%;
        grid-template-rows: 75px 225px auto;
        grid-template-areas: 
            "two"
            "one"
            "six"
            "three"
            "four"
            "seven";
    }

    .buttonMenu {
        display: block;
        
        position: fixed;
        top: 10px; 
        right: 0;
        margin-right: 10px;
    }

    .buttonMenu i {
        font-size: 30px;
        padding: 3px;
    }

    .menu.mobileMenu {
        display: block;
        
        position: fixed;
        top: 50px; 
        right: 0;
    }

    .box5 ul {
        width: 50%;
        height: auto;
        margin: 10px;
    }
}
