* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://cdn.imgchest.com/files/wye3cd5ej4b.png);
    background-repeat: no-repeat;
    max-width: 1143px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
}

.container > * {
    border: 2px dashed blue;
}

.container {
    display: grid;
    grid-template-rows: 250px 75px auto 392px;
    grid-template-areas: 
        "one one one"
        "two five six"
        "three three three"
        "four four four";
    grid-template-columns: minmax(241px, 1fr) minmax(794px, 2fr)  minmax(243px, 1fr);
   
}

.box1 {
    grid-area: one;
}

.box2 {
    grid-area: two;
}

.box3 {
    grid-area: three;
}

.box4 {
    grid-area: four;
}

.box5 {
    grid-area: five;

    font-family: "Roboto", Arial, sans-serif;
}

.box5 ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1px;
    align-items: center;
    font-size: 12px;
    height: 100%;
}

.box5 ul li {
    text-decoration: none;
    color: #2c2c2c;
    font-weight: bold;
}

.box5 ul li:nth-child(1) {
    background-color: #48b341;
    color: #cbedc5;
    padding: 8px 28px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    margin-left: 45px;
}

.box5 ul :nth-child(2) {
    margin-left: 71px;
}

.box5 ul :nth-child(3) {
    margin-left: 21px;
}

.box5 ul :nth-child(4) {
    margin-left: 21px;
}

.box5 ul :nth-child(5) {
    margin-left: 20px;
}

.box5 ul :nth-child(1)::after {
    content: "\2630";
    font-weight: bold;
    margin-left: 5px;
    font-size: 12px;
}

.box6 {
    grid-area: six;
}

@media (max-width: 500px) {
    .container {
        grid-template-columns: 100%;
        grid-template-areas: 
            "one"
            "two"
            "five"
            "six"
            "three"
            "four";
    }
}
